{% if site.category_sidebar %}
<section>
<h1>Category</h1>
<ul>
  <li><a href='/blog/categories/ant'>Ant (1)</a></li>
  <li><a href='/blog/categories/blog'>Blog (5)</a></li>
  <li><a href='/blog/categories/bluemix'>Bluemix (5)</a></li>
  <li><a href='/blog/categories/buildpack'>Buildpack (1)</a></li>
  <li><a href='/blog/categories/cloudfundry'>Cloudfundry (1)</a></li>
  <li><a href='/blog/categories/continuous-integration'>Continuous integration (1)</a></li>
  <li><a href='/blog/categories/gradle'>Gradle (1)</a></li>
  <li><a href='/blog/categories/ibm-rtc'>Ibm rtc (4)</a></li>
  <li><a href='/blog/categories/jazzhub'>Jazzhub (4)</a></li>
  <li><a href='/blog/categories/jenkins'>Jenkins (1)</a></li>
  <li><a href='/blog/categories/liberty'>Liberty (2)</a></li>
  <li><a href='/blog/categories/markdown'>Markdown (3)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (1)</a></li>
  <li><a href='/blog/categories/worklight'>Worklight (2)</a></li>
</ul>
</section>
{% endif %}
